html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100dvh;
}

body > * {
  --padding: 16px;
  padding: var(--padding);
}

#tree {
  min-width: 200px;
  background-color: #F5F5F5;
  height: calc(100dvh - var(--padding) * 2);
  overflow-y: auto;
}

#content {
  flex-grow: 1;
}

#editor {
  width: 100%;
}

#authentication {
  display: flex;
  flex-direction: column;
}

#tree-list, #tree-list li {
  list-style: none;
  padding: 0;
}

a-folder, a-file {
  display: block;
  margin: calc(var(--padding) / 2) auto;
}
a-folder a-file {
  margin-inline-start: var(--padding);
}
a-folder > span {
  margin-inline-start: calc(var(--padding) / 2);
}

a-folder > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a-folder > button::before {
  content: '-';
  font-family: monospace;
}
a-folder > button[selected]::before {
  content: '+';
  font-family: monospace;
}

a-folder:has(button[selected]) a-file {
  display: none;
}
