:host {
  --visibility: visible;
  display: block;
}

:host *, :host *::before, :host *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-inline: 0;
  /* avoid huge areas highlighted in Android */
  -webkit-tap-highlight-color: transparent;
}

:host > ul {
  --icon-size: 12px;
  --border-color: rgb(from currentColor r g b / .2);
  /*! (c) Geist UI Icons - https://www.npmjs.com/package/@geist-ui/icons */
  --svg-opened: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><rect x="3" y="3" width="18" height="18" rx="2" ry="2" /><path d="M8 12h8" /></svg>');
  --svg-closed: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><rect x="3" y="3" width="18" height="18" rx="2" ry="2" /><path d="M12 8v8" /><path d="M8 12h8" /></svg>');
  --svg-folder: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M2.707 7.454V5.62C2.707 4.725 3.469 4 4.409 4h4.843c.451 0 .884.17 1.204.474l.49.467c.126.12.296.186.473.186h8.399c.94 0 1.55.695 1.55 1.59v.737m-18.661 0h-.354a.344.344 0 00-.353.35l.508 11.587c.015.34.31.609.668.609h17.283c.358 0 .652-.269.667-.61L22 7.805a.344.344 0 00-.353-.35h-.278m-18.662 0h18.662"></path></svg>');
  --svg-file: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision"><path d="M13 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V9z"></path><path d="M13 2v7h7"></path></svg>');
  /* avoid weird LI styles alignment in Firefox and Safari */
  --shenanigap: 4px;
  list-style-position: inside;
  padding: 0 8px 0 8px;
  padding-inline-start: calc(var(--icon-size) * 2);
}

@supports (interpolate-size: allow-keywords) {
  :host > ul {
    /* Chrome/ium based browsers don't need this gap */
    --shenanigap: 0px;
    /* needed to transition from 0 to auto */
    interpolate-size: allow-keywords;
  }
}

:host > ul button {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: inherit;
  user-select: text;
  border: 0;
  padding: 4px;
  outline-offset: -1px;
  border-radius: 4px;
  margin: 2px;
  background: none;
  &:focus {
    outline: 1px dotted;
    outline-color: var(--border-color);
  }
}

:host > ul li {
  cursor: pointer;
  user-select: none;
  &.file {
    list-style-image: var(--svg-file);
  }
  &.folder {
    list-style-image: var(--svg-folder);
    &::before {
      display: inline-block;
      content: '';
      width: 12px;
      height: 12px;
      background-image: var(--svg-closed);
      margin-inline-start: calc(-32px - var(--shenanigap));
      margin-inline-end: 18px;
    }
    &.opened::before {
      background-image: var(--svg-opened);
    }
    &.opened > ul {
      visibility: visible;
      height: auto;
    }
    &:not(.opened) ul {
      visibility: hidden;
    }
  }
}

:host > ul ul > li {
  margin-block-start: -1px;
  border-inline-start: 1px transparent;
  padding-inline-start: calc(var(--icon-size));
  margin-inline-start: calc(var(--icon-size) / 2);
  &.file {
    border-inline-start: 1px dotted;
    border-inline-start-color: var(--border-color);
  }
}

:host > ul li.file > button {
  font-weight: 300;
  margin-inline-start: -1px;
}

:host > ul li.folder > button {
  font-weight: 400;
}

:host > ul li.folder > ul {
  overflow: clip;
  visibility: hidden;
  height: 0;
  transition: height .2s ease, visibility .2s;
}
