.tree {
  --padding: 1ch;
  margin: 0;
  list-style-position: inside;
  padding-inline-start: calc(var(--padding) * 4);
}

.tree li {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.tree li.file {
  list-style-type: "\1F4C4";
}

.tree ul li {
  outline-offset: -1px;
  margin-block-start: -1px;
  margin-inline-start: calc(var(--padding) * -4);
  padding-inline-start: calc(var(--padding) * 2);
}

.tree ul li.file {
  border-left-style: dotted;
  border-left-width: 1px;
}

.tree li.folder::marker {
  vertical-align: -0.1em;
}

.tree li.folder {
  list-style-type: "\1F4C1";
}

.tree li.folder.opened {
  list-style-type: "\1F4C2";
}


.tree li.folder .toggle {
  margin-inline-start: calc(var(--padding) * -6);
  margin-inline-end: calc(var(--padding) * 4);
}

.tree li.folder.opened > .toggle .y {
  display: none;
}

.tree li.folder:not(.opened) > ul {
  display: none;
}

.tree button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  padding: 8px;
  border-radius: 4px;
}

.tree button:focus {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: -1px;
}
